<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="icon" href="//img.icons8.com/cotton/64/000000/tree.png">
    <title>Link Tree Clone</title>
</head>
<h1>Link Tree Clone</h1>
<body>
    {{{body}}}
</body>
<a href="/home" class = "home-tag-a">
        <div class = "home-button-div">
            <p class = "home-p-tag">Home</p>
        </div>
    </a>
</html>