<p>User page for {{username}}</p>

<section class = "link-container">
    {{#each listedLinks}}
    <a class = "a-tag" href='https://{{this}}'>
        <div class = "link-div">
            <p class = "name-tag">{{this}}</p>
        </div>
    </a>
    {{/each}}
</section>