
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;1,200&display=swap');
body {
    background-color: #7CB9E8;
    box-sizing: border-box;
}


.username-input {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: solid;
    border-width: 0.1rem;
    text-align: center;
    border-color: rgb(235, 235, 235);
    font-size: 0.9em;
    border-radius: 15px;
}

.link-input {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: solid;
    border-width: 0.1rem;
    text-align: center;
    border-color: rgb(235, 235, 235);
    font-size: 0.9em;
    border-radius: 15px;
    display: none;
}

.use-button {
    border-radius: 15px;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: solid;
    border-color: lightcoral;
    border-width: 0.1rem;
    font-family: 'IBM Plex Mono', monospace;
    background-color:lightcoral;
    cursor: pointer;
}

.add-button {
    border-radius: 15px;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: solid;
    border-width: 0.1rem;
    font-family: 'IBM Plex Mono', monospace;
    background-color:lightcoral;
    border-color: lightcoral;
    cursor: pointer;
    display: none;
}

.add-button:hover {
    background-color: rgb(245, 98, 98);
    color:black;
}

.use-button:hover {
    background-color: rgb(245, 98, 98);
    color:black;
}

.display-name {
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
}

.input-box {
    display: flex;
    justify-content: center;
    margin-top: 7em;
    flex-flow: row wrap;
    font-family: 'IBM Plex Mono', monospace;
}


.link-input-box {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    flex-flow: row wrap;
    font-family: 'IBM Plex Mono', monospace;
}

.name-tag {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
}

.status-tag {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
}

.display-status {
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    letter-spacing: 0.2em;
}

.link-list-container {
    gap: 0.2rem;
    border: black;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: center;
    height: 70%;
    margin: auto;
}

.link-a {
    text-decoration: none;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
}

.linked-list {
    background-color: lightcoral;
    border-radius: 15px;
    font-size: 0.7em;
    padding: 10px;
    cursor: pointer;
}

.linked-list:hover {
    background-color: rgb(182, 74, 74);
}

.save-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

.save-button {
    border-radius: 15px;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: solid;
    border-width: 0.1rem;
    font-family: 'IBM Plex Mono', monospace;
    background-color:lightcoral;
    border-color: lightcoral;
    cursor: pointer;
    display: none;
}

.confirm-save-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.confirm-tag {
    font-family: 'IBM Plex Mono', monospace;
}
